:root{
    --primary-theme-color:#20322a;
    --secondary-theme-color:#282c34;
    --text-color: #fff;
    --secondary-shadow-color:#21242c80;
    --shadow-collor: #8888;
    --button-color-active:#fff;
    --button-text-color :#000;
    --padding-section:2em 0;
    --padding-container:0 2rem;
    --primary-highlight:#61dafb;
    --primary-shadow-color:#21242c80;
    --secondary-highlight:#ffd700;
    --padding-section :2em 0;
    --padding-container: 0 2rem;
    --border-radius: 0.5rem;
    --all-transitions: all 0.25s;

}

.body{ 
    display: flex;
    flex-direction: column;
    background-image: url(https://travel-dealz.de/app/uploads/sites/2/World-Map-Languages-1100x825.png) ;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    min-height: 100vh;
    margin: 0;
    padding: 0; 
    font-family: 'Inconsolata', monospace; 
    gap :1rem;
    
}

.header{

 position: sticky;
 top: 0;
 left: 0;
 width: 100%;
 background-color: var(  --secondary-theme-color);
  


}
.heade-nav{

    padding: 0.5em 0;
   
    
}
.header-nav__container{

    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: var(--padding-container);
    max-width: 1024px;
    margin: auto;

}
.header-nav__link-logo-container{

    display: flex;
    border-radius: 50%;
    overflow: hidden;
    height: 3rem;
    transition: var(--all-transitions);

}
.header-nav__link-logo-container:hover{

    box-shadow : 0 0 1rem 0 var(--primary-highlight);
}


.header-nav__link-logo{
    height: 100%;

}

.header-nav__menu-icon-label{

    font-size: 2rem;
    cursor: pointer;
    transition: var(--all-transitions);



}
.header-nav__menu-icon-label:hover{

    text-shadow: 0 0 0.25rem var(--primary-highlight); 
    text-shadow: 0 0 0.5rem var(--primary-highlight); 
}
.header-nav__menu-icon-checkbox{
    display: none;
}

.header-nav__menu-icon-checkbox:checked+ .header-nav__menu-link-list {

    left: 0;
    
  
}
.header-nav__menu-link-list{
    position: fixed;
    top: 4rem;
    left: 100%;
    width: 100vw;
    height: calc(100% - 4rem);
    background-color: var(--secondary-theme-color);  
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap :2rem ; 
    list-style: none;
    margin: 0;
    padding: 0;
    transition: var(--all-transitions);

 

}
.header-nav__menu-link-item{

    display :flex;
    
}
.header-nav__menu-link{
    position: relative;
    color: var(--text-color);
    text-decoration:none;
    font-weight: bold;
    transition: var(--all-transitions);
     
    
}
.header-nav__menu-link:hover,
.header-nav__menu-link--active{
    
    color: var(--primary-highlight);
     
     
}

.header-nav__menu-link::after{
    content: '';
    position: absolute;
    bottom:-0.125rem;
    left: 0;
    background-color: var(--secondary-highlight);
    width: 0;
    height: 0.0625rem;
    transition: var(--all-transitions);

}
.header-nav__menu-link:hover:after,
.header-nav__menu-link--active::after{
    width: 100%;
}

@media (min-width: 854px) {
    :root{ --padding-container:0 0.75rem;
        

    }
   .header-nav__menu-icon-label{
       display: none;
   }

   .header-nav__menu-link-list{
       position: static;
       width: auto;
       background-color: var(--secondary-theme-color);
       flex-direction: row;
       gap :1rem ; 
       list-style: none;
       transition:   var(--all-transitions); 
      
   
    
   
   }
}