
:root{
    scroll-behavior:smooth;
       
       --secondary-theme-color:#282c34;
       --text-color: #fff;
       --secondary-shadow-color:#21242c80;
       --shadow-collor: #8888;
       --button-color-active:#fff;
       --button-text-color :#000;
       --padding-section:2em 0;
       --padding-container:0 2rem;
       --primary-highlight:#61dafb;
       --primary-shadow-color:#21242c80;
       --secondary-highlight:#ffd700;
       --padding-section :2em 0;
       --padding-container: 0 2rem;
       --max-width-container:1024px;
       --border-radius: 0.5rem;
       --all-transitions: all 0.25s;
       --letter-color-1: #ff0000;
       --letter-color-2: #eaf3f3;
       --letter-color-3: #f0fcf7;
       --letter-color-4: #ff0000;
   
   }
   @keyframes zoom {
    from{

        transform: scale(1);

    }
    to{

        transform: scale(1.125);

    }


}
 

 
.cover__name{
    position: absolute;
    top: 50%;
    text-decoration: none;
    font-size: 4rem;
    font-weight: 700; 
    transition:  var(--all-transitions);
    animation: zoom 2s ease-in-out 2s infinite alternate;
    
     

}
.cover__name-test{

    text-decoration: none;
    font-size: 2rem;
    font-weight: 700; 
    transition: font-size 2s;
     

}
.cover__name-test:hover{

     font-size: 4rem;
     

}
.cover__name:hover{
    font-size: 2rem;
    
}
.cover__name-letter{

    position: relative;
    transition: var(--all-transitions);
    




}

.cover__name-letter:hover{
    filter: brightness(300%);
}

.cover__name-letter:nth-child(1){
    color: var(--letter-color-1);


}
.cover__name-letter:nth-child(2){
    color: var(--letter-color-2);


}
.cover__name-letter:nth-child(3){
    color: var(--letter-color-3);


}

.cover__name-letter:nth-child(4){
    color: var(--letter-color-4);


}

.cover__name-letter::before{
    
    
    content: var(--letter);
    position: absolute;
    transform: scale(1.125);
    filter: blur(1rem);


}
.cover__name-letter::after{
    
    
    content: var(--letter);
    position: absolute;
    top: 75%;
    left: 0;
    filter: blur(0.25rem);
    transform: rotatex(125deg);



}